/.AplicacaoAlgoritmoGenetico.java.dcm
/.AplicacaoClusteringEcoli.java.dcm
/.AplicacaoClusteringEcoli01.java.dcm
/.AplicacaoClusteringWine.java.dcm
/.AplicacaoClusteringWine01.java.dcm
/.AplicacaoClusteringWineQuality.java.dcm
/.AplicacaoClusteringWineQuality01.java.dcm
/.AplicacaoEquacaoQuadratica.java.dcm
/.AplicacaoEquacaoQuadratica01.java.dcm
/.AplicacaoEquacaoQuadratica02.java.dcm
/.AplicacaoEquacaoQuadratica03.java.dcm
/.AplicacaoEquacaoQuadratica04.java.dcm
/.AplicacaoEquacaoQuadratica05.java.dcm
/.AplicacaoEquacaoQuadratica06.java.dcm
/.AplicacaoEquacaoQuadratica07.java.dcm
/.AplicacaoEquacaoQuadratica08.java.dcm
/.AplicacaoEquacaoQuadratica09.java.dcm
/.AplicacaoEquacaoQuadratica10.java.dcm
/.AplicacaoEquacaoQuadratica11.java.dcm
/.AplicacaoEquacaoQuadratica12.java.dcm
/.AplicacaoEquacaoQuadratica13.java.dcm
/.AplicacaoEquacaoQuadratica14.java.dcm
/.AplicacaoEquacaoQuadratica15.java.dcm
/.AplicacaoEquacaoQuadratica16.java.dcm
/.AplicacaoEquacaoQuadratica17.java.dcm
/.AplicacaoEquacaoQuadratica18.java.dcm
/.AplicacaoEquacaoQuadratica19.java.dcm
/.AplicacaoEquacaoQuadratica20.java.dcm
/.AplicacaoEquacaoQuadratica21.java.dcm
/.AplicacaoEquacaoQuadratica22.java.dcm
/.AplicacaoEquacaoQuadratica23.java.dcm
/.AplicacaoEquacaoQuadratica24.java.dcm
/.AplicacaoEquacaoQuadratica25.java.dcm
/.AplicacaoEquacaoQuadratica26.java.dcm
/.AplicacaoEquacaoQuadratica27.java.dcm
/.AplicacaoEquacaoQuadratica28.java.dcm
/.AplicacaoEquacaoQuadratica29.java.dcm
/.AplicacaoEquacaoQuadratica30.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais01.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais02.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais03.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais04.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais05.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais06.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais07.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais08.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais09.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais10.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais11.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais12.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais13.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais14.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais15.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais16.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais17.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais18.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais19.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais20.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais21.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais22.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais23.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais24.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais25.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais26.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais27.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais28.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais29.java.dcm
/.AplicacaoEquacaoSeno3DRepresDecimais30.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros01.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros02.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros03.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros04.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros05.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros06.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros07.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros08.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros09.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros10.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros11.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros12.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros13.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros14.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros15.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros16.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros17.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros18.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros19.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros20.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros21.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros22.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros23.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros24.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros25.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros26.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros27.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros28.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros29.java.dcm
/.AplicacaoEquacaoSeno3DRepresInteiros30.java.dcm
/.AuxiliarDadosPopulacoes.java.dcm
/.Main.java.dcm
