/.Dominio.java.dcm
/.DominioClusteringRepresGruposInt.java.dcm
/.DominioEquacaoQuadratica.java.dcm
/.DominioEquacaoSeno3DRepresDecimais.java.dcm
/.DominioEquacaoSeno3DRepresInteiros.java.dcm
/.DominioOtimizacaoCarteira.java.dcm
